.header {
  background-color: aquamarine;
  margin: auto;
  text-align: left;
}
.containerOfChild {
  /* border: 1px solid red; */
  margin: auto;
  width: 98%;
  height: 500px;
  display: flex;
  justify-content: space-between;
}

.containerOfChild > div {
  width: 30%;
  height: 500px;
  /* border: 1px solid blue; */
}

.basket {
  text-align: center;
}
.products {
  /* border: 1px solid green; */
  width: 60%;
  height: 600px;
  display: flex;
  flex-direction: column;
}
.products > div {
  /* border: 1px solid rgba(65, 70, 65, 0.397); */
  width: 100%;
  height: 150px;
  display: flex;
}
.productitems {  
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}
.cart {
  text-align: center;
}
/*  { } */
